.container{

position: absolute;
width: 320.36px;
height: 300.57px;
margin: auto;
background: #FFFFFF;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
border-radius: 12px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.loader{
    margin-top: 50px;
} 

.label{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;

/* identical to box height */
letter-spacing: -0.035em;

/* Gray 2 */
color: #4F4F4F;


}