.imgs{

    height: 300px;
    width: 200px;
    margin: 20px;
} 

.loader{
    margin: auto;
}
.card_container{
   /*  outline: 2px solid black; */
    margin: auto;
    width: 55%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
}